<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.ws.sgd.xuecolombia.com/" xmlns:ws="http://ws.gesdoc.co">
   <soapenv:Header/>
   <soapenv:Body>
      <ser:createReceived>
         <appkey>nXSw+spZBJdPbAZSqnzkF4oMWy4Cmv7cj5Ni0NAAM+4=</appkey>
         <document>
            <author>
               <identification>#{author.identification}</identification>
            </author>
            <authorDependence>
               <code>#{authorDependence.code}</code>
            </authorDependence>
            <type>
               <id>#{type.id}</id>
            </type>
            <reference>#{reference}</reference>
            <physicalFolios>1</physicalFolios>
            <sourceThirdPerson>
               <identificationType>
                  <name>#{sourceThirdPerson.identificationType.name}</name>
               </identificationType>
               <identification>#{sourceThirdPerson.identification}</identification>
               <name>#{sourceThirdPerson.name}</name>
               <lastname>#{sourceThirdPerson.lastname}</lastname>
               <email>#{sourceThirdPerson.email}</email>
               <address>#{sourceThirdPerson.address}</address>
               <phone>#{sourceThirdPerson.phone}</phone>
               <municipality>
                  <code>#{sourceThirdPerson.municipality.code}</code>
               </municipality>
            </sourceThirdPerson>
            <targetDependence>
               <code>#{targetDependence.code}</code>
            </targetDependence>
            <targetUser>
               <identification>#{targetUser.identification}</identification>
            </targetUser>
            <observations>#{observations}</observations>
            <!--Zero or more repetitions:-->
            <annexes>
               <support>
                  <id>2244</id>
               </support>
               <name>#{annexes.name}</name>
               <physicalFolios>1</physicalFolios>
               <description>#{annexes.description}</description>
               <file>#{annexes.file}</file>
               <fileFormat>#{annexes.fileFormat}</fileFormat>
            </annexes>
         </document>
      </ser:createReceived>
   </soapenv:Body>
</soapenv:Envelope>